* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

body {
    min-height: 100%;
    border: 15px solid #2b81ac;
    background-color: #3399cc;
    margin: 0px;
    padding: 5px;
    color: #fff;
}

.container {
    margin: 0 auto;
    max-width: 700px;
    width: 96%;
    align-content:left;

}

h1 {
    margin: 0;
    font-size: 22px;
    padding: 20px 0 20px 0;
}

footer {
    padding: 20px 0 0 0;
}

p {
    margin: 0;
    padding: 10px;
}

ul {
    padding: 0;
    font-size: 0px;
    border: 2px solid #fff;
}

.temp {
    opacity: .6;
}

ul li {
    padding: 10px;
    list-style: none;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    align-items: baseline;
    border: 2px solid #fff;
    transition: all .1s ease-in;
    min-height: 100px;
}

ul:hover > li {
    opacity: .5;
}

ul li:hover {
    opacity: 1;
}

ul li:active {
    background: #2b81ac;
    opacity: .8;
}

.width-mid {
    width: 50%;
    padding: 5px;
}

.width-min {
    width: 25%;
    padding: 5px;
}

.width-max {
    width: 100%;
    padding: 5px;
}

.blue {
    background: #3399cc;
}

.birch{
    background: #33CCCC;
}
.purple{
    background: #996699;
}
.red{
    background: #C24747;
}
.orange{
    background: #E2674A;
}
.yellow{
    background: #FFCC66;
}
.light-green{
    background: #99CC99;
}
.gray{
    background: #669999;
}
.pink{
    background: #CC6699;
}
.green{
    background: #339966;
}

.violets {
    background: #666699;
}

.wi {
    font-size: 25px;
}






/* уменьшить значок в header */
/* некрасиво выделсяется*/